---
---

@import "{{ site.theme }}";

.wider_inner {
  width: 50%;
  margin: 0 auto;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #f8f8f8;
}
